---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// add bootstrap variable settings here

@import
  "bootstrap-override",
  "nav",
  "fonts",
  "fontawesome/fontawesome",
  "fontawesome/brands",
  "fontawesome/regular",
  "fontawesome/solid"
  ;

body {
  font-family: 'PT Sans', sans-serif;
}

h1.post-title {
  font-family: 'PT Sans Caption', sans-serif;
}
